* {
  color: white;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body .navbar {
  padding: 0;
}
body .navbar .container-fluid {
  height: auto;
  background-color: #121212;
  display: grid;
  grid-template-columns: repeat(1, auto);
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  grid-template-areas: "img" "list";
}

.nav__img {
  grid-area: img;
  margin-bottom: 20px;
}
.nav__img img {
  width: 200px;
  height: 80px;
}

.navbar-bar {
  grid-area: list;
}

header .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgb(255, 255, 255);
  font-size: 22px;
  padding: 0 10px 10px;
  transition: 0.3s;
  text-align: center;
}

a.nav-link.active:hover {
  color: #ff0a12;
}

header .navbar-nav .nav-link.active.aca,
.navbar-nav .nav-link.show.aca {
  color: #ff0a12;
}

.header__img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  border: none;
}

header h2 {
  font-size: 20px;
}

.pages__header-section {
  display: grid;
  grid-template-columns: repeat(1, auto);
  column-gap: 0;
  row-gap: 0;
  justify-content: center;
  justify-items: center;
}
.pages__header-section p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 70%;
  padding-top: 60px;
}

.pages__header-section-article {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages__header-section-article h1 {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(18, 18, 18, 0), #121212);
  position: absolute;
  top: 0;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 10px 10px 17px rgb(0, 0, 0);
}

.mas__title {
  color: #FF0A12;
}

.text__italic-red {
  font-style: italic;
  color: #FF0A12;
}

.text__italic {
  font-style: italic;
}

.division-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px 0;
}

.division {
  color: white;
  opacity: 1;
  width: 50%;
}

footer {
  background-color: rgb(222, 222, 222);
  margin-top: 50px;
  padding: 50px 0 30px 0;
  text-align: center;
}
footer ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}
footer a, footer p {
  text-decoration: none;
  color: rgb(82, 82, 82);
  margin: 0;
}
footer img {
  width: 100px;
  height: 70px;
  padding: 15px 0;
}

.index__header-section h1 {
  font-size: 80px;
  text-align: center;
  margin: 10px 15px 40px;
}

.index__section-article p {
  width: 75%;
  text-align: center;
  display: inline-block;
}

.info__container {
  display: flex;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  justify-content: space-around;
}
.info__container img {
  width: 15px;
  height: 15px;
}

.info__container-div {
  width: fit-content;
  display: grid;
  grid-template-columns: 30px 100%;
  grid-template-areas: "a1 a2" " - a3";
}
.info__container-div img {
  grid-area: a1;
  margin-top: 5px;
}
.info__container-div h2 {
  font-weight: bold;
  text-decoration: underline 1.5px white;
  text-shadow: 1px 1px 5px black;
  grid-area: a2;
  width: fit-content;
}
.info__container-div p {
  grid-area: a3;
  width: 300px;
}

main .division {
  width: 30%;
  opacity: 0.5;
}
main .division-container {
  padding: 20px 0;
}
main img,
main .carousel {
  width: 300px;
  height: 168.75px;
  object-fit: cover;
  border-radius: 7%;
}

.main__index h2 {
  font-weight: bold;
}

.index__section {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 5px;
  row-gap: 10px;
  justify-content: center;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "a1 a1 a1" "a2 a3 a4" "- - a5";
}
.index__section .carousel {
  display: inline-block;
}
.index__section-article {
  grid-area: a1;
}
.index__section-article p {
  margin: 0;
  padding: 0;
}
.index__section .a2 {
  grid-area: a2;
}
.index__section .a3 {
  grid-area: a3;
}
.index__section .a4 {
  grid-area: a4;
}
.index__section .ver-mas {
  grid-area: a5;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.index__section .ver-mas a {
  font-weight: bold;
  text-decoration: none;
  color: #ff0a12;
  font-size: 20px;
  transition: 0.5s;
}
.index__section .ver-mas a:hover {
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.645);
  text-decoration: underline 1px;
}
.index__section .ver-mas img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.pages__main-fases {
  font-size: 50px;
  margin: 0 50px;
  letter-spacing: 15px;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5254901961);
}
.pages__main-fases-hr {
  margin: 0 50px;
  padding-bottom: 30px;
}

.ultimas-fases {
  padding-top: 40px;
}

.pages__main h3 {
  font-size: 25px;
  color: #ff0a12;
  font-weight: bold;
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.753);
}
.pages__main-section {
  margin: 0 50px;
}
.pages__main-section-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 40px;
}
.pages__main-section-content p {
  width: 65%;
}
.pages__main-section-content img {
  width: 320px;
  height: 188.75px;
  object-fit: cover;
}

.content-info {
  display: block;
  font-weight: 600;
}

.section-right h3,
.section-right p {
  text-align: end;
}
.section-right article {
  flex-direction: row-reverse;
}

.series-container {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.series-container .series-text {
  width: 265px;
}
.series-container .series-text h2,
.series-container .series-text p {
  text-align: center;
}
.series-container .series-poster {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 260px);
  column-gap: 10px;
  row-gap: 10px;
  justify-content: none;
  grid-template-rows: repeat(3, 155px);
}
.series-container .series-poster img {
  width: 256px;
  height: 152px;
  border-radius: 0%;
  transition: 0.2s;
  position: relative;
  z-index: 4;
}
.series-container .series-poster img:active {
  z-index: 1;
  box-shadow: 1px 1px 30px rgb(0, 0, 0);
}
.series-container .series-poster p {
  z-index: 2;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  display: flex;
  width: 256px;
  height: 152px;
  font-size: 80px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3803921569);
  color: rgba(18, 18, 18, 0.8039215686);
  align-items: center;
}
.series-container .series-poster p span {
  font-size: 16px;
  color: #121212;
}
.series-container .series-poster p .serie-titulo {
  font-weight: bold;
  text-decoration: underline;
}

main .division-container-multiverse {
  padding: 50px 0;
}

.mutant__main {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 70px;
  row-gap: 80px;
  justify-content: center;
}

.mutant__main-section {
  width: 310px;
  background-color: #131313;
  padding: 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}
.mutant__main-section article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mutant__main-section img {
  width: 270px;
  height: 153px;
  border-radius: 3%;
}
.mutant__main-section p {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.mutant__main-section p span {
  font-weight: normal;
}
.mutant__main-section .movie-name {
  align-self: center;
  font-weight: bold;
  text-decoration: underline #ff0a12;
  font-size: 16px;
  padding-bottom: 3px;
}

.mas__main {
  text-align: center;
  opacity: 1;
}
.mas__main .alert {
  text-decoration: underline #ff0a12;
}

.mas__main-section-content {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

.mas__main-section-content div {
  position: relative;
}
.mas__main-section-content div img {
  position: relative;
  top: 0;
  z-index: 4;
}
.mas__main-section-content div img:active {
  z-index: 1;
}
.mas__main-section-content div span {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  width: 300px;
  height: 168.75px;
  padding: 0 15px;
  color: rgb(255, 255, 255);
  background-color: rgba(18, 18, 18, 0.8823529412);
  border-radius: 7%;
}
.mas__main-section-content div span h3 {
  font-size: 18px;
  padding: 0;
  margin: 0;
  text-decoration: underline #ff0a12;
}
.mas__main-section-content div span p {
  font-size: 16px;
  color: #fffefe;
  padding: 0;
  margin: 0;
}

@media (max-width: 1100px) {
  .mutant__main {
    column-gap: 15px;
    row-gap: 25px;
  }
  .pages__main-section-content p {
    width: 60%;
  }
  .pages__main .series-container .series-text {
    width: 800px;
  }
}
@media (max-width: 940px) {
  .pages__main-section-content p {
    width: 49%;
  }
  .mutant__main {
    grid-template-columns: repeat(2, auto);
    column-gap: 25px;
    row-gap: 35px;
  }
  .mas__main-section-content {
    grid-template-columns: repeat(2, 300px);
  }
  .index__section {
    grid-template-columns: repeat(2, 300px);
    grid-template-areas: "a1 a1" "a2 a3" "- a4" "- a5";
  }
}
@media (max-width: 800px) {
  .pages__main .adelantos-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .pages__main .series-container .series-text {
    width: 550px;
  }
  .pages__main .series-container .series-poster {
    grid-template-columns: repeat(2, 260px);
    column-gap: 30px;
    row-gap: 20px;
  }
}
@media (max-width: 768px) {
  .nav__img {
    width: 170px;
  }
  main .mas__main-section-content div img:hover {
    z-index: 1;
  }
  .series-poster img:hover {
    z-index: 1;
    box-shadow: 1px 1px 30px rgb(0, 0, 0);
  }
  header .navbar .container-fluid {
    height: auto;
  }
  header .navbar-nav .nav-link.active,
  header .navbar-nav .nav-link.show {
    font-size: 18px;
  }
  .pages__header-section-article h1 {
    height: 71vh;
    font-size: 80px;
  }
  .header__img {
    height: 71vh;
  }
  .pages__main-section-content img {
    width: 288px;
    height: 153px;
  }
}
@media (max-width: 650px) {
  .mutant__main {
    grid-template-columns: repeat(1, auto);
  }
}
@media (max-width: 610px) {
  .index__section {
    grid-template-columns: repeat(1, 300px);
    grid-template-areas: "a1" "a2" "a3" "a4" "a5";
  }
  .index__section-article p {
    width: 100%;
  }
  .index__section .ver-mas a {
    text-align: center;
    width: 100%;
  }
  .pages__main h2 {
    text-align: center;
    font-size: 36px;
  }
  .pages__main .series-container .series-text {
    margin: 0 50px;
    width: auto;
  }
  .pages__main .series-container .series-text h2 {
    font-size: 30px;
  }
  .pages__main .series-container .series-text p {
    font-size: 14px;
  }
  .pages__main .series-container .series-poster {
    grid-template-columns: repeat(1, 312px);
    grid-template-rows: repeat(9, 182.4px);
    gap: 20px;
  }
  .pages__main .series-container .series-poster img {
    width: 312px;
    height: 182.4px;
  }
  .pages__main .series-container .series-poster p {
    width: 312px;
    height: 182.4px;
  }
  .mas__main-section-content {
    grid-template-columns: repeat(1, 300px);
  }
}
@media (max-width: 576px) {
  body header .navbar .navbar-toggler {
    border: none;
  }
  body header .navbar .navbar-toggler .navbar-toggler-icon img {
    width: 30px;
    height: 30px;
  }
  body header .navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    height: 70px;
  }
  body header .navbar .container-fluid a {
    padding: 0;
    margin: 0;
  }
  body header .navbar .container-fluid a img {
    padding: 0;
    margin: 0;
  }
  body header .navbar-nav .nav-link.active,
  body header .navbar-nav .nav-link.show {
    color: rgb(1, 1, 1);
    font-size: 24px;
  }
  body header .nav__img img {
    width: 120px;
    height: 50px;
  }
}
@media (max-width: 576px) and (max-width: 480px) {
  body pages-main-section {
    margin: 0;
  }
  body pages-main-section h3 {
    padding: 0 60px;
  }
  body pages-main-section-content {
    justify-content: center;
  }
  body pages-main-section-content p {
    width: 288px;
  }
  body .pages__header-section p {
    font-size: 16px;
  }
  body .pages__header-section h1 {
    height: 200px;
  }
  body .pages__header-section-article h1,
  body .index__header-section h1 {
    font-size: 50px;
  }
  .nav__img img {
    width: 100px;
    height: 40px;
    align-self: center;
    margin-top: 20px;
  }
  .header__img {
    height: 200px;
  }
  .pages__main-section h3 {
    font-size: 26px;
    text-align: center;
  }
  .pages__main-section h3 .pages__main-section-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding-bottom: 30px;
  }
  .pages__main-section h3 .pages__main-section-content p {
    width: 310px;
    font-size: 15px;
    text-align: justify;
  }
  .pages__main-section h3 .division-container {
    padding: 10px 0;
  }
  .pages__main-section h3 footer {
    margin-top: 25px;
    padding: 25px 0 15px 0;
  }
  .pages__main-section h3 footer ul {
    display: grid;
    grid-template-columns: repeat(2, 115px);
    column-gap: 15px;
    row-gap: 0;
    justify-content: none;
    grid-template-areas: "inicio inicio" "mcu1  mutant" "mcu2  mas";
  }
  .pages__main-section h3 footer a,
  .pages__main-section h3 footer p {
    font-size: 15px;
  }
  .pages__main-section h3 footer img {
    width: 50px;
    padding: 10px 0;
  }
  .footer__list-item-inicio {
    grid-area: inicio;
    text-align: center;
  }
  li.footer__list-item-infinity {
    grid-area: mcu1;
    text-align: end;
  }
  .footer__list-item-multiverse {
    grid-area: mcu2;
    text-align: end;
  }
  .footer__list-item-mutant {
    grid-area: mutant;
    text-align: start;
  }
  .footer__list-item-mas {
    grid-area: mas;
    text-align: start;
  }
  .series-poster img:hover {
    z-index: 1;
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
  }
}
@media (max-width: 426px) {
  body .pages__header-section-article h1 {
    font-size: 40px;
  }
  .index__header-section h2 {
    font-size: 18px;
  }
  .index__header-section p {
    font-size: 14px;
  }
  .index__section {
    grid-template-columns: repeat(1, 300px);
    grid-template-areas: "a1" "a2" "a3" "a4" "a5";
  }
  .index__section h2 {
    font-size: 22px;
  }
  .index__section p {
    font-size: 14px;
  }
  .index__section a {
    font-size: 18px;
  }
  .mas__main-section-content {
    grid-template-columns: repeat(1, 300px);
  }
  .pages__main-section {
    margin: 0;
  }
  .pages__main-section-content {
    justify-content: center;
  }
  .pages__main-section p {
    width: 288px;
  }
}
@media (max-width: 320px) {
  .pages__main-section h3 {
    padding: 0 20px;
  }
  .pages__main-section .pages__main-section-content img {
    width: 270px;
    height: 153px;
  }
  .pages__main-section .pages__main-section-content p {
    width: 270px;
  }
  .pages__main .series-container .series-poster {
    grid-template-columns: repeat(1, 260px);
    grid-template-rows: repeat(9, 152px);
    gap: 20px;
  }
  .pages__main .series-container .series-poster img,
  .pages__main .series-container .series-poster p {
    width: 260px;
    height: 152px;
  }
  .pages__main .adelantos-container {
    flex-wrap: nowrap;
  }
  .pages__main .adelantos-container .series-text {
    width: 256px;
  }
  .index__header-section p {
    width: 250px;
  }
}
.body {
  background-color: #121212;
}

/*# sourceMappingURL=style.css.map */
