* {
  color: white;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav__img img {
  width: 200px;
  height: 80px;
}

.nav__img {
  grid-area: img;
  margin-bottom: 20px;
}

body .navbar {
  padding: 0;
}

.navbar-bar {
  grid-area: list;
}

header .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgb(255, 255, 255);
  font-size: 22px;
  padding: 0 10px 10px;
  transition: 0.3s;
}

a.nav-link.active:hover {
  color: #FF0A12;
}

body .navbar .container-fluid {
  background-color: #121212;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  justify-items: center;
  grid-template-areas: "img" "list";
}

header .navbar-nav .nav-link.active.aca,
.navbar-nav .nav-link.show.aca {
  color: #FF0A12;
}

.pages__header-section-article {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages__header-section-article h1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  font-size: 120px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 10px 10px 17px rgba(0, 0, 0, 0.773);
}

.header__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-color: #FF0A12;
  border: none;
}

header h2 {
  font-size: 20px;
}

.pages__header-section p {
  font-size: 16px;
  padding-top: 50px;
}

.pages__header-section {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
  justify-items: center;
}

.pages__header-section p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 70%;
  margin-top: 10px;
}

.text__italic-red {
  font-style: italic;
  color: #FF0A12;
}

.text__italic {
  font-style: italic;
}

.division-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px 0;
}

.division {
  color: white;
  opacity: 1;
  width: 50%;
}

footer {
  background-color: rgb(222, 222, 222);
  margin-top: 50px;
  padding: 50px 0 30px 0;
  text-align: center;
}

footer ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

footer a,
footer p {
  text-decoration: none;
  color: rgb(82, 82, 82);
  /* text-align: center; */
  margin: 0;
}

footer img {
  width: 100px;
  height: 70px;
  padding: 15px 0;
}

.index__header-section h1 {
  font-size: 80px;
  text-align: center;
  margin: 10px 0 40px 0;
}

.index__section-article p {
  width: 75%;
  text-align: center;
  display: inline-block;
}

.info__container {
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 130px;
}
.info__container img {
  width: 15px;
  height: 15px;
}

.info__container-div {
  width: 30%;
  height: fit-content;
  display: grid;
  grid-template-columns: 30px 100%;
  grid-template-areas: "a1 a2" " - a3";
}
.info__container-div img {
  grid-area: a1;
  margin-top: 5px;
}
.info__container-div h2 {
  font-weight: bold;
  text-decoration: underline 1.5px white;
  text-shadow: 1px 1px 5px black;
  grid-area: a2;
}
.info__container-div p {
  grid-area: a3;
}

main .division {
  width: 30%;
  opacity: 0.5;
}
main .division-container {
  padding: 20px 0;
}
main img, main .carousel {
  width: 300px;
  height: 168.75px;
  object-fit: cover;
  border-radius: 7%;
}

.main__index {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.main__index h2 {
  font-weight: bold;
}

.index__section {
  text-align: center;
  width: 910px;
}
.index__section .carousel {
  display: inline-block;
}

.ver-mas {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.ver-mas a {
  padding-right: 7px;
  font-weight: bold;
  text-decoration: none;
  color: #ff0a12;
  font-size: 20px;
  transition: 0.5s;
}
.ver-mas a:hover {
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.645);
  text-decoration: underline 1px;
}
.ver-mas img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.pages__main {
  margin: 20px 50px;
}

.pages__main h2 {
  font-size: 25px;
  color: #FF0A12;
  font-weight: bold;
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.753);
}

.pages__main-section-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 40px;
}

.pages__main-section-content p {
  width: 65%;
}

.content-info {
  display: block;
  font-weight: 600;
}

.pages__main-section-content img {
  width: 320px;
  height: 188.75px;
  object-fit: cover;
}

.section-right h2,
.section-right p {
  text-align: end;
}

.section-right article {
  flex-direction: row-reverse;
}

.mas__main {
  text-align: center;
}

.mas__main-section-content {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 10px;
  justify-content: center;
}

@media (max-width: 768px) {
  .nav__img {
    width: 170px;
  }
  header .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    font-size: 18px;
  }
  .pages__header-section-article h1 {
    font-size: 80px;
  }
  .header__img {
    height: 350px;
  }
  .pages__main img {
    width: 244px;
    height: 144px;
  }
  .pages__main img {
    font-size: 14px;
  }
}
/* @media (max-width:600px) {

} */
@media (max-width: 480px) {
  body header .navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
  header .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: rgb(1, 1, 1);
    font-size: 24px;
  }
  .nav__img img {
    width: 100px;
    padding-top: 10px;
  }
  .header__img {
    height: 200px;
  }
  .pages__header-section-article h1 {
    font-size: 40px;
  }
  .pages__header-section p {
    font-size: 18px;
    padding-top: 15px;
    width: 90%;
  }
  .pages__main img {
    width: 310px;
    height: 120px;
  }
  .pages__main-section h2 {
    font-size: 26px;
    text-align: center;
  }
  .pages__main-section-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding-bottom: 30px;
  }
  .pages__main-section-content p {
    width: 310px;
    font-size: 15px;
    text-align: justify;
  }
  .division-container {
    padding: 10px 0;
  }
  footer ul {
    display: grid;
    grid-template-columns: 115px 115px;
    gap: 0 15px;
    grid-template-areas: "inicio inicio" "mcu1  mutant" "mcu2  mas";
  }
  .footer__list-item-inicio {
    grid-area: inicio;
    text-align: center;
  }
  li.footer__list-item-infinity {
    grid-area: mcu1;
    text-align: end;
  }
  .footer__list-item-multiverse {
    grid-area: mcu2;
    text-align: end;
  }
  .footer__list-item-mutant {
    grid-area: mutant;
    text-align: start;
  }
  .footer__list-item-mas {
    grid-area: mas;
    text-align: start;
  }
  footer {
    margin-top: 25px;
    padding: 25px 0 15px 0;
  }
  footer a,
  footer p {
    font-size: 15px;
  }
  footer img {
    width: 50px;
    padding: 10px 0;
  }
}
.body {
  background-color: #121212;
}

/*# sourceMappingURL=style.css.map */
