.index__header-section {
    h1 {
        font-size: 80px;
        text-align: center;
        margin: 10px 15px 40px;
    }
}

.index__section-article p {
    width: 75%;
    text-align: center;
    display: inline-block;
}

.info__container {
    @include flex(row, 0, wrap, space-around);

    img {
        width: 15px;
        height: 15px;
    }
}

.info__container-div {
    width: fit-content;
    display: grid;
    grid-template-columns: 30px 100%;
    grid-template-areas:
        'a1 a2'
        ' - a3';

    img {
        grid-area: a1;
        margin-top: 5px;
    }

    h2 {
        // color: $marvel-color;
        font-weight: bold;
        text-decoration: underline 1.5px white;
        text-shadow: 1px 1px 5px black;
        grid-area: a2;
        width: fit-content;
    }

    p {
        grid-area: a3;
        width: 300px;
    }
}


main {
    .division {
        width: 30%;
        opacity: 0.5;
    }

    .division-container {
        padding: 20px 0;
    }

    img,
    .carousel {
        width: 300px;
        height: 168.75px;
        object-fit: cover;
        border-radius: 7%;
    }
}


.main__index {
    h2 {
        font-weight: bold;
    }
}

.index__section {
    text-align: center;
    @include grid(3, 300px, 5px, 10px, center);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        'a1 a1 a1'
        'a2 a3 a4'
        '- - a5';

    .carousel {
        display: inline-block;
    }


    &-article {
        grid-area: a1;

        p {
            margin: 0;
            padding: 0;
        }
    }

    .a2 {
        grid-area: a2;
    }

    .a3 {
        grid-area: a3;
    }

    .a4 {
        grid-area: a4;
    }

    .ver-mas {
        grid-area: a5;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        a {
            font-weight: bold;
            text-decoration: none;
            color: $marvel-color;
            font-size: 20px;
            transition: 0.5s;

            &:hover {
                text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.645);
                text-decoration: underline 1px;
            }
        }

        img {
            width: 20px;
            height: 20px;
            object-fit: cover;
        }
    }
}