
.pages__main-fases {
    font-size: 50px;
    margin: 0 50px;
    letter-spacing: 15px;
    text-shadow: 5px 5px 7px #00000086;
    
    &-hr {
        margin: 0 50px;
        padding-bottom: 30px;
    }

}

.ultimas-fases {
    padding-top: 40px;
}

.pages__main {
    h3 {
        font-size: 25px;
        color: #FF0A12;
        font-weight: bold;
        text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.753);
    }
    
    &-section {
        margin: 0 50px;
    }
    
    &-section-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding-bottom: 40px;
    
        p {
            width: 65%;
        }
    
        img {
            width: 320px;
            height: 188.75px;
            object-fit: cover;
        }
    }
}



.content-info {
    display: block;
    font-weight: 600;
}

.section-right {

    h3,
    p {
        text-align: end;
    }

    article {
        flex-direction: row-reverse;
    }
}