.series-container {
    margin: 50px 0;
    @include flex(row, 15px, wrap, center);

    .series-text {
        width: 265px;

        h2,
        p {
            text-align: center;
        }

    }

    .series-poster {
        width: auto;
        @include grid(3, 260px, 10px, 10px, none);
        grid-template-rows: repeat(3, 155px);
        
        img {
            width: 256px;
            height: 152px;
            border-radius: 0%;
            transition: 0.2s;
            position: relative;
            z-index: 4;
            
            &:active {
                z-index: 1;
                box-shadow: 1px 1px 30px rgb(0, 0, 0);
            }
        }
        
        p {
            z-index: 2;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            display: flex;
            width: 256px;
            height: 152px;
            font-size: 80px;
            font-weight: bold;
            background-color: #ffffff61;
            color: #121212cd;
            align-items: center;

            span {
                font-size: 16px;
                color: #121212;
            }

            .serie-titulo {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

main {

    .division-container-multiverse {
        padding: 50px 0;
    }
}